/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* font usages and formats */
h1 {
    font-family: "Nonum Gothic", sans-serif;
    color: black;
    font-weight: 100;
    line-height: .75;
    letter-spacing: -.009em;
    font-size: 16px;
    padding: 5px;
    box
}

body {
    font-family: "Quicksand" /*'Nonum Gothic',*/ sans-serif;
    color: black;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.004em;
    font-size: 21px;
    padding: 10px;
    background: #dfd3c3;
    text-align: center;
}

/* image imports */
img {
    max-width: 80%;
    max-height: 100%;
    display: block;
}
/* color pallette */
/*    #dfd3c3    */
/*    #f0ece2    */
/*    #c7b198    */
/*    #596e79    */


/* box layouts */
div.weatherBox {
    font-family: "Quicksand" /*'Nonum Gothic',*/ sans-serif;
    flex: center;
    align-content: center;
    box-sizing: content-box;
    min-width: 30%;
    max-width: 800px;
    margin: auto;
    padding: 15px;
    border: 1px solid #191965;
    background-image: https://i.redd.it/xoimyjukzhny.jpg;
}
/* box backgrounds */
.weatherBox.weatherSearchBar.button.searchBtn {
    min-width: 20px;
    max-width: 75px;
    min-height: 10px;
    max-height: 30px;
    color: #596e79;
}